@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImageOne{
    background: url(../src/photos/images/img1.png) no-repeat center center/cover;
}
@font-face {
    font-family: "Adventure";
    src: url("../src/fonts/Adventure.otf");
}
