@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImageOne{
    background: url(../src/photos/images/img1.png) no-repeat center center/cover;
}
.bgImageEleven{
    background: url(../src/photos/images/img11.png) no-repeat center center/cover;
}
@font-face {
    font-family: "Adventure";
    src: url("../src/fonts/Adventure.otf");
}
@font-face {
    font-family: "Rajdhani-Bold";
    src: url("../src/fonts/Rajdhani-Bold.ttf");
}
@font-face {
    font-family: "Cantarell-Regular";
    src: url("../src/fonts/Cantarell-Regular.ttf");
}
